body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color:rgb(231, 230, 222);


  
}

h1 {
  text-align: center;
  color:rgb(0, 0, 0);
  font-size: 50px;
  padding-top: 10px;
  font-style: Lucida;
  
  
  

}


#listaUsuarios {
  list-style: none;
  padding: 1%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  color: rgb(73, 46, 10);
  font-size: 12px;
  height: 100%;
  margin-right: 6%;
  
}

.usuario {
  margin:20px;
  align-items:center;
  padding: 60px;
  font-family: arial;
  height: 600px;
  width:200px;
  font-size: 19px;
  color: rgb(102, 80, 39);
  
}

.usuario img{
  justify-content: center;
  width: 240px;
  height: auto;
  border-radius: 50% ;
  margin-bottom: 40px;
  margin-left: -20px;

   
}


